* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f7ccac;
}

.font-pixel {
  font-family: "VT323", monospace;
}

.font-primary {
  font-color: #c69b7b;
}

.btn-primary {
  background-color: #3a3845;
  border-color: #3a3845;
}

.btn-primary:hover {
  background-color: #826f66;
}

.box-shadow {
  box-shadow: 5px 8px 8px #3a3845;
}

/* Products */
#product-item p {
  text-align: center !important;
}
#product-item .card {
  background-color: transparent;
  border: none;
  margin: auto;
}

#product-item .card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#product-item .card-body a {
  text-decoration: none;
}
/* Products */

/* shop */
#shop-item .btn-primary {
  background-color: transparent !important;
  color: #3a3845 !important;
  border-color: #3a3845 !important;
}

#shop-item button:hover {
  background-color: #3a3845 !important;
  color: white !important;
}

#shop-item .card {
  background-color: transparent;
}
/* shop */

/* Desktop Version*/
@media (min-width: 576px) {
  /* Hero */
  #hero h1,
  p {
    text-align: left !important;
  }
  #hero button {
    float: left !important;
  }
  #hero img {
    width: 65% !important;
    padding-top: 20px;
  }
  /* Hero */

  /* shop */
  #shop-item p {
    text-align: center !important;
  }
  #shop-item .card {
    background-color: transparent;
    border: none;
    margin: auto;
  }

  #shop-item .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  #shop-item .card-body a {
    text-decoration: none;
  }
  /* shop */

  /* offer */
  #offer h1,
  p {
    text-align: left !important;
  }
  #offer button {
    float: left !important;
  }
  #offer img {
    width: 100% !important;
    padding-top: 20px;
  }
  /* offer */
}
